<h1>Tell me about this Pirate</h1>

<form method="POST" action="/pirates">
  <h2>Pirate</h2>
  <label for="pirate_name">Name: </label>
  <input type="text" name="pirate[name]">
  <label for="pirate_weight">Weight: </label>
  <input type="text" name="pirate[weight]">
  <label for="pirate_height">Height: </label>
  <input type="text" name="pirate[height]">
  <br>
  <h2>Ship(s)</h2>
  <label for="ship_name">Name: </label>
  <input type="text" name="pirate[ships][][name]">
</form>